@charset "URF-8";

/* Para celular */

@media  screen and (max-width: 600px) {
    
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;

}

body {
    
    height: 85vh;
    background:  #490b71;
    
}

section#login {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.222);
}

main > section {
    width: 220px;
    height: 485px;
    background-color: white;
    margin: auto;
    margin-top: 110px;
    border-radius: 15px;
    


}

div#imagem {
    display: block;
    background-image: url(../fotopredio-maior.jpg);
   background-size: cover;
   background-position: left bottom;
    width: 220px;
    height: 25vh;
    border-radius: 15px 15px 0px 0px;
    
}

div#form {
    text-align: center;
    padding: 2px;
}

div#form h2 {
    margin-top: 6px;

}

p#bemvindo {
    padding: 10px;
    padding-top: 8px;
    font-size: 0.7em;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.campo {
    background-color: #733ba2f3;
    border-radius: 10px;
    margin: 4px;
    
}

span.material-symbols-outlined {
    font-size: 2em;
    color: white;
    vertical-align: middle;
}

input {
    border-radius: 10px ;
    background-color: #aee1ebeb;
    height: 35px;
    margin: 1px solid rgba(0, 0, 0, 0.439);

}
::placeholder {
    padding: 5px;
}

input#entrar {
    background-color: #89b4bdeb;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(18, 18, 18, 0.415);
    text-align: center;
    margin-top: 3px;
    height: 40px;
    width: 200px;
    border:  #475b5feb;
    border-radius: 5px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.217);
}

input#entrar:hover {
    background-color: rgb(36, 67, 57);
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
 
 }   

 div.esqsenha {
    width: 198px;
    height: 30px;
    text-align: center;
    border: 1px solid rgba(78, 77, 77, 0.473);
    margin:auto;
    margin-top: 8px;
    border-radius: 5px;
    padding-top: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.174);
   
}

div.esqsenha a {
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-size: 0.8em;
      
}

span#email {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

div.esqsenha:hover {
    background-color: #ace2edeb;
    transition-duration: 0.5s;
    cursor: pointer;
    
}



